body {
  background-color: rgb(96, 93, 93);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(142, 136, 136);
  padding: 0 1rem;
}
header a {
  text-decoration: none;
  color: rgb(33, 32, 32);
  font-size: 1.5rem;
}
header a:hover {
  color: rgb(50, 50, 50);
  padding: 0.6rem;
  border-radius: 8px;
  background-color: rgb(123, 120, 120);
}
header ul {
  display: flex;
  list-style-type: none;
  margin: 1rem;
}
header li {
  padding-left: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid #speech-bubbles:nth-child(1) {
  grid-column: 1 / span 2;
}
#speech-bubbles {
  margin: 2.5% 10% 0 2.5%;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: rgb(191, 216, 216);
}
.grid #speech-bubbles p {
  margin: 0;
  padding-left: 1rem;
  font-weight: 500;
}
.grid .main-contants {
  width: 90%;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto auto;
}
.grid a {
  text-decoration: none;
  color: rgb(33, 32, 32);
  display: inline-block;
}
.grid a:hover {
  color: rgb(50, 50, 50);
  padding: 0 0.2rem 0 0.2rem;
  border-radius: 8px;
  background-color: rgb(123, 120, 120);
}
.grid img {
  width: 70%;
  margin: auto;
}

#skill {
  background-color: rgb(142, 136, 136);
}
.skill-bg {
  background-color: rgb(142, 136, 136);
}
#speech-bubbles {
  display: flex;
}
.grid ul {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
  font-size: 1.4rem;
  text-align: center;
}
.grid li {
  width: 100%;
}
.grid li:hover {
  color: rgb(180, 40, 219);
}

#skill-subTitle {
  text-align: left;
  margin: 1rem;
}
#skill-subTitle p {
  margin: 0;
}
.project-card {
  margin: auto auto; /* Center horizontally */
  width: 100%; /* Set a width for the card */
  text-align: center; /* Center the content inside the card */
}
.project-card p {
  margin: 1rem 0 0 0;
}
.grid .project-image {
  width: 70%;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(183, 178, 178);
  border-radius: 8px;
  box-shadow: 0.5rem 0.5rem 0.5rem white;
  align-items: center;
}
.grid .education-flex {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}
.grid .education--img {
  border-radius: 50%;
  width: 30%;
}
.education__card--right {
  margin-left: 1rem;
}

.grid .certificate__card {
  border: 1px solid hsla(0, 0%, 83%, 0.397);
  text-align: center;
}
.grid .certificate__card--img--resize {
  height: 15rem;
  object-fit: contain;
}
.grid a {
  border: 1px solid hsla(0, 0%, 83%, 0.397);
}

form {
  width: 80%;
  margin: auto 0;
  padding: 1rem;
  background-color: rgb(96, 93, 93);
  border-radius: 8px;
}
form input,
textarea,
p {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 8px;
}
form input:hover,
textarea:hover {
  background-color: rgb(191, 216, 216);
}
form button {
  width: 30%;
  border-radius: 8px;
  background-color: rgb(154, 81, 223);
  box-shadow: 1px 1px 1px white;
  color: white;
}
form button:hover {
  background-color: rgb(123, 58, 184);
}
